.container{
    position: absolute;
    left:28%;
    width:72%;
    height:100%;
    overflow:hidden;
    
}
#post_list{
    height:70%;
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.information{
    background-color: rgb(183, 183, 183);
    position: absolute;
    left:0%;
    width:28%;
    height:100%;
}
#profilepicture{

    width:100%;
    height:50%;
    
}
#inputbox{
    position:absolute;
    top:70%;
    left:0%;
    width:100%;
    overflow-y: hidden;
}
#post_btn{
    position:absolute;
    top:60%;
    right:0%;
    margin-right:40px;
    height: 25%;
    width:80px;
}

#comment{
    
    width:100%;
    height:26%;
    overflow-y: scroll;
}

#weng {
    overflow: hidden;
    font-weight: bold;
    position: relative;
    animation: mymove 15s infinite;
    color: wheat;
    animation-timing-function: linear;
}
  
#Weng {
    overflow: hidden;
    font-weight: bold;
    position: relative;
    animation: mymove2 15s infinite;
    color: gainsboro;
    animation-timing-function: linear;
}

#WENG {
    overflow: hidden;
    font-weight: bold;
    position: relative;
    animation: mymove3 15s infinite;
    color: aquamarine;
    animation-timing-function: linear;
}
@keyframes mymove2 {
    0% {left: 60%;top:10%}
    20%{left:0%;top:40%;}
    40%{left:30%;top:90%;}
    60%{left:90%;top:0%;}
    80% {left: 10%;top:75%;}
    100% {left: 60%;top:10%}
  }
  
  @keyframes mymove {
    0% {left: 0%;top:20%}
    20%{left:60%;top:95%;}
    45%{left:90%;top:10%;}
    60%{left:40%;top:0%;}
    85% {left: 90%;top:95%;}
    100% {left: 0%;top:20%}
  }

  @keyframes mymove3 {
    0% {left: 30%;top:85%}
    20%{left:0%;top:40%;}
    40%{left:60%;top:0%;}
    65%{left:95%;top:20%;}
    90% {left: 0%;top:45%;}
    100% {left: 30%;top:85%}
  }




@media (max-width: 600px) {
    
    
    .information{
        width:35%;
    }
    .container{
        width:65%;
        position:absolute;
        left:35%;
    }
}